// CUSTOM VARIABLES

$ff-primary: 'Source Sans Pro', sans-serif;
$ff-secondary: 'Source Code Pro', monospace;

$fw-reg: 300;
$fw-bold: 700;

$clr-light: #fff;
$clr-dark: #303030;
$clr-accent: #16e0bd;
$clr-accent2: #00909e;

$bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

// Change bootstrap default value
$container-max-widths: (
  sm: 580px,
  md: 800px,
  lg: 960px,
  xl: 1140px,
);

$primary: $clr-accent;
$info: $clr-accent2;

// IMPORT BOOTSTRAP
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';
// IMPORT RFS
@import '../../node_modules/rfs/scss';

/* GENERAL STYLE */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #000;
  color: $clr-dark;
  margin: 0;
  font-family: $ff-primary;
  line-height: 1.6;
}

a {
  color: $clr-accent2;
  transition: all 0.25s ease-in-out;
}
a:hover {
  color: $clr-accent;
}

.tab-content {
  padding: 2rem 1.2rem;
  background: $clr-light;
  border-radius: 5px;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

.section_title {
  font-weight: $fw-bold;
  @include font-size(4rem);
  margin-bottom: 2rem;
}

.section_subtitle {
  margin: 0;
}

.subtitle {
  background: $clr-accent;
  font-family: $ff-secondary;
  @include font-size(1.75rem);
  padding: 0.25rem 1rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .tab-content {
    padding: 2rem 3.5rem;
  }
  .subtitle {
    width: calc(100% + 2rem);
  }
  .section {
    padding: 3rem 0;
  }
}

// TYPED Texts

.typed-cursor {
  font-weight: $fw-bold;
  margin-bottom: 0.5rem;
  @include font-size(3rem);
}

// SeeWOrk links

@keyframes arrowBounce {
  from {
    transform: translateX(0em);
  }

  to {
    transform: translateX(0.5em);
  }
}

.seeWork {
  .arrow {
    width: inherit;
  }

  &:hover .arrow {
    animation-duration: 0.4s;
    animation-name: arrowBounce;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
}
